# Default ignored files
/../../../:TP1_Hamlaoui/.idea/shelf/
/../../../:TP1_Hamlaoui/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:TP1_Hamlaoui/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:TP1_Hamlaoui/.idea/dataSources/
/../../../:TP1_Hamlaoui/.idea/dataSources.local.xml
